aiohttp==3.5.4
appdirs==1.4.3
async-timeout==3.0.1
attrs==18.2.0
chardet==3.0.4
cssselect==1.0.3
idna==2.8
lxml==4.3.1
motor==2.0.0
multidict==4.5.2
pyee==5.0.0
pymongo==3.7.2
pyppeteer==0.0.25
ruia==0.5.2
ruia-pyppeteer==0.0.4
tqdm==4.31.1
urllib3==1.24.1
websockets==7.0
yarl==1.3.0
